<section class="container">
  <div class="d-flex justify-content-center mt-5">
    <h5 class="btn btn-success mr-2">This website is in contruction soory for the incovenience</h5>
  </div>
</section>
<!-- ! This is temporary code -->
<code>
  <p>This should actually host a login form that redirects to the dashboard for users (now in v2:
    students/teachers/both).</p>

  <h2>Professeurs</h2>
  <ul>
    <% @teachers.each do |teacher| %>
    <li>
      <%= link_to teacher.email, teacher_path(teacher.id) %>
    </li>
    <% end %>
  </ul>

  <h2>Étudiants</h2>
  <ul>
    <% @students.each do |student| %>
    <li>
      <%= link_to student.email, student_path(student.id) %>
    </li>
    <% end %>
  </ul>
</code>

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
  <div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <h4 class="page-title">Klass Details</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-5">
                  <!-- Product image -->
                  <a href="javascript: void(0);" class="text-center d-block mb-4">
                    <img src="assets/images/products/product-5.jpg" class="img-fluid" style="max-width: 280px;"
                      alt="Product-img" />
                  </a>

                  <div class="d-lg-flex d-none justify-content-center">
                    <a href="javascript: void(0);">
                      <img src="assets/images/products/product-1.jpg" class="img-fluid img-thumbnail p-2"
                        style="max-width: 75px;" alt="Product-img" />
                    </a>
                    <a href="javascript: void(0);" class="ml-2">
                      <img src="assets/images/products/product-6.jpg" class="img-fluid img-thumbnail p-2"
                        style="max-width: 75px;" alt="Product-img" />
                    </a>
                    <a href="javascript: void(0);" class="ml-2">
                      <img src="assets/images/products/product-3.jpg" class="img-fluid img-thumbnail p-2"
                        style="max-width: 75px;" alt="Product-img" />
                    </a>
                  </div>
                </div> <!-- end col -->
                <div class="col-lg-7">
                  <form class="pl-lg-4">
                    <!-- Product title -->
                    <h3 class="mt-0">KLASS SHOW<a href="javascript: void(0);" class="text-muted"><i
                          class="mdi mdi-square-edit-outline ml-2"></i></a> </h3>
                    <p class="mb-1">Added Date: 09/12/2018</p>
                    <p class="font-16">
                      <span class="text-warning mdi mdi-star"></span>
                      <span class="text-warning mdi mdi-star"></span>
                      <span class="text-warning mdi mdi-star"></span>
                      <span class="text-warning mdi mdi-star"></span>
                      <span class="text-warning mdi mdi-star"></span>
                    </p>

                    <!-- Product stock -->
                    <div class="mt-3">
                      <h4><span class="badge badge-success-lighten">Instock</span></h4>
                    </div>

                    <!-- Product description -->
                    <div class="mt-4">
                      <h6 class="font-14">Retail Price:</h6>
                      <h3> $139.58</h3>
                    </div>

                    <!-- Quantity -->
                    <div class="mt-4">
                      <h6 class="font-14">Quantity</h6>
                      <div class="d-flex">
                        <input type="number" min="1" value="1" class="form-control" placeholder="Qty"
                          style="width: 90px;">
                        <button type="button" class="btn btn-danger ml-2"><i class="mdi mdi-cart mr-1"></i> Add to
                          cart</button>
                      </div>
                    </div>

                    <!-- Product description -->
                    <div class="mt-4">
                      <h6 class="font-14">Description:</h6>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                        normal distribution of letters, as opposed to using 'Content here, content here', making it look
                        like readable English. </p>
                    </div>

                    <!-- Product information -->
                    <div class="mt-4">
                      <div class="row">
                        <div class="col-md-4">
                          <h6 class="font-14">Available Stock:</h6>
                          <p class="text-sm lh-150">1784</p>
                        </div>
                        <div class="col-md-4">
                          <h6 class="font-14">Number of Orders:</h6>
                          <p class="text-sm lh-150">5,458</p>
                        </div>
                        <div class="col-md-4">
                          <h6 class="font-14">Revenue:</h6>
                          <p class="text-sm lh-150">$8,57,014</p>
                        </div>
                      </div>
                    </div>

                  </form>
                </div> <!-- end col -->
              </div> <!-- end row-->

              <div class="table-responsive mt-4">
                <table class="table table-bordered table-centered mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th>Steps</th>
                      <th>Price</th>
                      <th>Stock</th>
                      <th>Revenue</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>ASOS Ridley Outlet - NYC</td>
                      <td>$139.58</td>
                      <td>
                        <div class="progress-w-percent mb-0">
                          <span class="progress-value">478 </span>
                          <div class="progress progress-sm">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 56%;"
                              aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </td>
                      <td>$1,89,547</td>
                    </tr>
                    <tr>
                      <td>Marco Outlet - SRT</td>
                      <td>$149.99</td>
                      <td>
                        <div class="progress-w-percent mb-0">
                          <span class="progress-value">73 </span>
                          <div class="progress progress-sm">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 16%;"
                              aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </td>
                      <td>$87,245</td>
                    </tr>
                    <tr>
                      <td>Chairtest Outlet - HY</td>
                      <td>$135.87</td>
                      <td>
                        <div class="progress-w-percent mb-0">
                          <span class="progress-value">781 </span>
                          <div class="progress progress-sm">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 72%;"
                              aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </td>
                      <td>$5,87,478</td>
                    </tr>
                    <tr>
                      <td>Nworld Group - India</td>
                      <td>$159.89</td>
                      <td>
                        <div class="progress-w-percent mb-0">
                          <span class="progress-value">815 </span>
                          <div class="progress progress-sm">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 89%;"
                              aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </td>
                      <td>$55,781</td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- end table-responsive-->

            </div> <!-- end card-body-->
          </div> <!-- end card-->
        </div> <!-- end col-->
      </div>
      <!-- end row-->

    </div> <!-- container -->

  </div> <!-- content -->

  <!-- Footer Start -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          2018 - 2019 © Hyper - Coderthemes.com
        </div>
        <div class="col-md-6">
          <div class="text-md-right footer-links d-none d-md-block">
            <a href="javascript: void(0);">About</a>
            <a href="javascript: void(0);">Support</a>
            <a href="javascript: void(0);">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
  <div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-sm-4">
                  <a href="javascript:void(0);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle mr-2"></i> Add
                    Klasses</a>
                </div>
                <div class="col-sm-8">
                  <div class="text-sm-right">
                    <button type="button" class="btn btn-success mb-2 mr-1"><i class="mdi mdi-settings"></i></button>
                    <button type="button" class="btn btn-light mb-2 mr-1">Import</button>
                    <button type="button" class="btn btn-light mb-2">Export</button>
                  </div>
                </div><!-- end col-->
              </div>

              <div class="table-responsive">
                <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                  <thead class="thead-light">
                    <tr>
                      <th class="all" style="width: 20px;">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                        </div>
                      </th>
                      <th class="all">Klass</th>
                      <th>Category</th>
                      <th>Added Date</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Status</th>
                      <th style="width: 85px;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-1.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Amazing Modern Chair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                        </p>
                      </td>
                      <td>
                        Aeron Chairs
                      </td>
                      <td>
                        09/12/2018
                      </td>
                      <td>
                        $148.66
                      </td>

                      <td>
                        254
                      </td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>

                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck3">
                          <label class="custom-control-label" for="customCheck3">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-4.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Biblio Plastic Armchair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star-half"></span>
                        </p>
                      </td>
                      <td>
                        Wooden Chairs
                      </td>
                      <td>
                        09/08/2018
                      </td>
                      <td>
                        $8.99
                      </td>

                      <td>
                        1,874
                      </td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>
                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck4">
                          <label class="custom-control-label" for="customCheck4">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-3.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Branded Wooden Chair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star-outline"></span>
                        </p>
                      </td>
                      <td>
                        Dining Chairs
                      </td>
                      <td>
                        09/05/2018
                      </td>
                      <td>
                        $68.32
                      </td>

                      <td>
                        2,541
                      </td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>

                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck5">
                          <label class="custom-control-label" for="customCheck5">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-4.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Designer Awesome Chair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star-half"></span>
                          <span class="text-warning mdi mdi-star-outline"></span>
                        </p>
                      </td>
                      <td>
                        Baby Chairs
                      </td>
                      <td>
                        08/23/2018
                      </td>
                      <td>
                        $112.00
                      </td>

                      <td>
                        3,540
                      </td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>

                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck6">
                          <label class="custom-control-label" for="customCheck6">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-5.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Cardan Armchair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                        </p>
                      </td>
                      <td>
                        Plastic Armchair
                      </td>
                      <td>
                        08/02/2018
                      </td>
                      <td>
                        $59.69
                      </td>

                      <td>
                        26
                      </td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>

                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck7">
                          <label class="custom-control-label" for="customCheck7">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-3.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Bootecos Plastic Armchair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star-half"></span>
                        </p>
                      </td>
                      <td>
                        Wing Chairs
                      </td>
                      <td>
                        07/15/2018
                      </td>
                      <td>
                        $148.66
                      </td>

                      <td>
                        485
                      </td>
                      <td>
                        <span class="badge badge-danger">Deactive</span>
                      </td>

                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck8">
                          <label class="custom-control-label" for="customCheck8">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-6.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Adirondack Chair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                        </p>
                      </td>
                      <td>
                        Aeron Chairs
                      </td>
                      <td>
                        07/07/2018
                      </td>
                      <td>
                        $65.94
                      </td>

                      <td>
                        652
                      </td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>

                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck9">
                          <label class="custom-control-label" for="customCheck9">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-2.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Bean Bag Chair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                        </p>
                      </td>
                      <td>
                        Wooden Chairs
                      </td>
                      <td>
                        06/30/2018
                      </td>
                      <td>
                        $99
                      </td>

                      <td>
                        1,021
                      </td>
                      <td>
                        <span class="badge badge-danger">Deactive</span>
                      </td>
                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck10">
                          <label class="custom-control-label" for="customCheck10">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-3.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">The butterfly chair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star-half"></span>
                        </p>
                      </td>
                      <td>
                        Dining Chairs
                      </td>
                      <td>
                        06/19/2018
                      </td>
                      <td>
                        $58
                      </td>

                      <td>
                        874
                      </td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>

                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck11">
                          <label class="custom-control-label" for="customCheck11">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-4.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Eames Lounge Chair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star-half"></span>
                        </p>
                      </td>
                      <td>
                        Baby Chairs
                      </td>
                      <td>
                        05/06/2018
                      </td>
                      <td>
                        $39.5
                      </td>

                      <td>
                        1,254
                      </td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>

                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck12">
                          <label class="custom-control-label" for="customCheck12">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-5.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Farthingale Chair</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star-half"></span>
                        </p>
                      </td>
                      <td>
                        Plastic Armchair
                      </td>
                      <td>
                        04/09/2018
                      </td>
                      <td>
                        $78.66
                      </td>

                      <td>
                        524
                      </td>
                      <td>
                        <span class="badge badge-danger">Deactive</span>
                      </td>

                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck13">
                          <label class="custom-control-label" for="customCheck13">&nbsp;</label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/products/product-6.jpg" alt="contact-img" title="contact-img"
                          class="rounded mr-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Unpowered aircraft</a>
                          <br />
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star"></span>
                          <span class="text-warning mdi mdi-star-half"></span>
                        </p>
                      </td>
                      <td>
                        Wing Chairs
                      </td>
                      <td>
                        03/24/2018
                      </td>
                      <td>
                        $49
                      </td>

                      <td>
                        204
                      </td>
                      <td>
                        <span class="badge badge-danger">Deactive</span>
                      </td>

                      <td class="table-action">
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> <!-- end card-body-->
          </div> <!-- end card-->
        </div> <!-- end col -->
      </div>
      <!-- end row -->

    </div> <!-- container -->

  </div> <!-- content -->

  <!-- Footer Start -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          2018 - 2019 © Hyper - Coderthemes.com
        </div>
        <div class="col-md-6">
          <div class="text-md-right footer-links d-none d-md-block">
            <a href="javascript: void(0);">About</a>
            <a href="javascript: void(0);">Support</a>
            <a href="javascript: void(0);">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


</div>
<!-- END wrapper -->



<!-- App js -->
<!-- <script src="assets/hyper/app.min.js"></script> -->
</body>

</html>
