<section class="container">
  <div class="d-flex justify-content-center mt-5">
    <h5 class="btn btn-success mr-2">This website is in contruction soory for the incovenience</h5>
  </div>
</section>
<!-- ! This is temporary code -->
<code>
  <p>This should actually host a login form that redirects to the dashboard for users (now in v2:
    students/teachers/both).</p>

    <% if current_teacher%>
  <h2>Professeurs</h2>
    <ul>
        <%= link_to 'Espace de travail', teacher_path(current_teacher) %>
    </ul>
    <% end %>


    <% if current_student%>
  <h2>Étudiants</h2>
    <ul>
      <%= link_to 'Temple du savoir', student_path(current_student) %>
    </ul>
    <% end %>
</code>

