<<<<<<< HEAD
// Place all the styles related to the Klasses controller here.
=======
// Place all the styles related to the klasses controller here.
>>>>>>> master
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
