<div class="container mt-5">
	<div class="form-group row">    
		<div class="col-sm-10">
			<%= form_for [@klass], action: teachers_klass_path(@klass), method: :post do |k| %>
					<%= k.text_field :title, class:"form-control form-control-lg", id:"colFormLabelLg", placeholder:"Title"%>
					<%= k.text_field :description, class:"form-control", id:"colFormLabel", placeholder:"Description" %>
					<%= k.submit class:"btn btn-primary mb-2" %>
			<% end %>
		</div>
	</div>
</div>