<div class="navbar">
  <%= link_to "MeetMyClass", root_path, class: "navbar-brand" %>
  <span class="text-monospace text-warning">
    <%= current_user_role %>: <%= current_user_email_sign_out_link %>
  </span>
</div>
