<section>
  <div>

    <div>
      <%= render partial: "klasses/partial/student_questions" %></div>
    </div>

    <div class="col-4 mt-4 mb-8"><div>
          <%= render partial: "klasses/partial/student_attendance" %></div>
    </div>

    <div class="col"><div>
      <%= render partial: "klasses/partial/students_step" %></div>
    </div>

  </div>
</section>

